<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <link href="/css/styles.css" rel="stylesheet" media="screen"/>

    <title>Message Test</title>
</head>
<body>

<section id="contact" class="dark">

    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h4 class="font-weight-bold">Kontakt</h4>
                <p class="font-italic pb-5">
                    Sie können gern dieses Kontaktformular verwenden um mich zu kontaktieren.
                </p>
                <div class="alert text-center pt-3 pb-3">Ihre Nachricht wurde erfolgreich übermittelt.</div>
            </div>
        </div>

        <form id="contactform">

            <div class="row">
                <div class="col-12 col-sm-12 col-md-6">
                    <label class="screenreader" for="name"></label>
                    <input class="form-control mb-3" id="name" type="text" name="name" placeholder="Name *" required>

                    <label class="screenreader" for="email"></label>
                    <input class="form-control mb-3" id="email" type="email" name="email" placeholder="E-Mail *"
                           required>

                    <label class="screenreader" for="company"></label>
                    <input class="form-control mb-3 mb-sm-3 mb-md-0" id="company" type="text" name="company"
                           placeholder="Firma *" required>
                </div>
                <div class="col-12 col-sm-12 col-md-6">
                    <label class="screenreader" for="message"></label>
                    <textarea class="form-control contact-message" id="message" name="message" placeholder="Nachricht *"
                              required></textarea>
                </div>
            </div>
            <div class="text-center">
                <button class="btn btn-primary mt-4" type="submit" name="submit-button">Abschicken</button>
            </div>

        </form>
    </div>

</section>

<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-app.js"></script>
<script src="https://www.gstatic.com/firebasejs/7.15.0/firebase-database.js"></script>

<script type="text/javascript" src="/js/jquery-3.3.1.min.js"></script>
<script type="text/javascript" src="bootstrap-4.4.1/dist/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>

</body>
</html>